.footer .card{

    background: #101e41;
    border-radius: 5px;
    box-shadow: 5px 6px 6px 2px #101e41;
}

.footer .border-bottom {
    border-bottom: 1px solid #9e9e9e29!important;
}


.footer .border-right {
    border-right: 1px solid #9e9e9e29!important;
}


.footer .mr-46{

        margin-right: 44px;
}


.footer a{

    text-decoration: none;
    color: #fff;
}


.footer .item-list li{

    list-style: none;
    padding: 5px;
}



.footer .dots {
  height: 50px;
  width: 50px;
  background-color: #fff;
  color: red;
  line-height: 37px;
  padding: 10px;
  border-radius: 50%;
  display: inline-block;

}

.footer .dots i{

        font-size: 25px;
    margin-left: 5px;
}


.footer .text-content{
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}



.footer .social-icons{

    display: inline-flex;
}


.footer .social-icons li{

    padding: 10px;
    list-style: none;
}


.footer .row{
    margin:0
}




.footer .search {
     /*margin-bottom: auto;
    margin-top: auto;*/
    height: 53px;
    border:1px solid #eee;
    background-color: #101e41;
    border-radius: 40px;
    padding: 2px;
 }

 .footer .search_input {
     color: white;
     border: 0;
     outline: 0;
     background: none;
     width: 0;

     margin-top: 2px;
     caret-color: transparent;
     line-height: 40px;
     transition: width 0.4s linear
 }

 .footer .search .search_input {
     padding: 0 10px;
     width: 100%;
     caret-color: red;
     transition: width 0.4s linear
 }

 .footer .search:hover>.search_icon {
     background: red;
     color: #fff
 }

 .footer .search_icon {
    height: 46px;
    width: 46px;
    margin-right: 2px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    padding: 20px;
    background-color: black;
 }

 .footer a:link {
     text-decoration: none
 }
